body{
    background-color: rgb(169, 164, 195);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkred;
    background-color: rgb(134, 103, 109);
}
h2{
    color: aqua;
}
p{
    text-align: justify;
}
a{
    color: aqua;
}