/* todas as medias */
/* Typical device breakpoints
------------------------------ 
Pequenas telas: até 600px

Celular: de 600px aé 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
TV: +1200px

Grandes telas:*/

@media print {
    body{
         background-image: url(../imagens/back-print.jpg); /* desnecessário */
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone{display: none;}
    img#tablet{display: none;}  
    img#tv{display: none;}
    img#pc{display: none;}
    img#print{display: block;}
}
 @media screen and (min-width: 768px) and (max-width:990px) { /*tablet */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}  
    img#tv{display: none;}
    img#pc{display: none;}
    img#print{display: none;}
}
 @media screen and (min-width: 990px) and (max-width: 1200px) { /* desktop */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}  
    img#tv{display: none;}
    img#pc{display: block;}
    img#print{display: none;}
    
}
 @media screen and (min-width: 1200px) { /* TV */
    body{
        background-image: url(../imagens/back-tv.jpg)
    }
    main{
        width: 700px;
    }
    img#phone{display: none;}
    img#tablet{display: none;}  
    img#tv{display: block;}
    img#pc{display: none;}
    img#print{display: none;}
    
}